Bin/
Debug/
Release/
*.dll
*.plg
*.ncb
*.opt
**/EntitiesMP/*.cpp
**/EntitiesMP/*.h
**/EntitiesMP/Debug/
**/EntitiesMP/Release/
**/GameMP/Debug/
**/GameMP/Release/
**/GameGUIMP/*.cpp
GameMP/GameMP.plg
Sources.ncb
Sources.opt
